body{
    font-family: 'Poppins', sans-serif;
    font-size: 15pt;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
  }

.contenedor{
  max-width: 1280px;
  width: 95%;
  margin: auto;
}

.menu-icon {
  display: none;
}

header {
  background: #333;
  padding: 1.5rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

header a {
  color: white;
  text-decoration: none;
}

.menu{
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  align-items: center;
}

p{
  font-size: 16px;
  color: black;
  text-align: justify;
  margin: 14px;
}

.lista ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lista ul li {
  display: inline-block;
}

.lista ul li a {
  display: block;
  padding: 0.4rem 0.5rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.lista ul li a:hover {
  background: #4a4a4a;
}

.main {
  background: white;
  /* linear-gradient(to bottom,  #cedce7 0%,#596a72 100%);*/
  height: 80vh;
  font-family: 'Kalam', cursive;
  text-align: center;
  font-style: italic;
  padding-top: 8rem;
  line-height: 0.5px;
}

h1{
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 80px;
  font-weight: normal;
}

h3 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin-top: 90px;
  margin-bottom: 2rem;
}

#letras {
  margin-top: 180px;
  font-size: 150px;
  color: #00BFFF;
}

#letras span {
  font-size: 150px;
  color: green;
}

#letras2 {
  margin-top: 120px;
  margin-bottom: 70px;
  font-size: 60px;
}

#letras3 {
  margin-top: 4px;
  font-size: 60px;
}

.social-bar {
	position: fixed;
	right: 0;
	top: 40%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-whatsapp {
	background: MediumSpringGreen;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

span {
  font-size: 80px;
  color: blue;
}

.contenedor-porque {
padding-top: 23px;
display: flex;
justify-content: space-around;
text-align: center;
width: 100%;
}

.porque-singular {
  width: 40%;
}

.contenedor-porque h4 {
  margin-top: 4px;
  font-size: 18px;
  margin: 14;
}

.contenedor-porque p {
  font-size: 13px;
  line-height: 20px;
  width: 90%;
  margin-bottom: 100px;
}

.owl-nav {
  text-align: center;
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
}

.owl-carousel {
  justify-content: center;
  height: 60%;
}

.footer {
  background: #333;
  padding: 0.5em 0;
  text-align: center;
  margin-top: 0.1rem;
}

.footer p {
  font-size: 15px;
  text-align: center;
  color: white;
}

@keyframes escalar {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(1.05);
  }
}


@media (max-width:480px) {

#letras {
  margin-top: 200px;
  font-size: 60px;
  color: #00BFFF;
}

#letras span {
  font-size: 60px;
  color: green;
}

#letras2 {
  margin-top: 120px;
  margin-bottom: 50px;
  font-size: 40px;
}

#letras3 {
  margin-top: 4px;
  font-size: 40px;
}

.social-bar {
	right: 0;
	top: 68%;
	font-size: 1rem;
}

  nav {
    position: absolute;
    top: 65px;
    right: 0px;
    background: #5cb8ff;
    width: 35%;
    display: none;
  }

nav ul {
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}

  .menu-icon {
    display: block;
    width: 25px;
    padding-right: 15px;
  }

  .main {
    height: 80vh;
    padding-top: 7rem;
    line-height: 1px;
  }

  h3 {
    font-size: 15px;
  }

  .contenedor-porque {
    flex-direction: column;
    padding: 0;
  }
  .porque-singular {
  width: 95%;
  }

  .owl-nav {
    text-align: center;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
  }

}

@media (min-width:700px) and (min-width:900px) {

}
